/* style settings for menu */

.header_menu_div {
    position: relative;
    display: inline-block;
    height: 48px;
}

.header_menu_ul {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
}

/* styles for items of menu */

.header_menu_li {
    background-color: rgb(210, 210, 210);
    margin: 0;
    padding: 0;
    height: 48px;
    width: auto;
    float: right;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    -webkit-transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    -moz-transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    -o-transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.header_menu_a {
    font-family: 'Arial', Helvetica, sans-serif;
    font-size: 17px;
    padding: 18px 26px 10px 26px;
    width: auto;
    background-color: rgb(210, 210, 210);
    color: rgb(20, 20, 20);
    display: block;
    text-align: left;
    text-decoration: none;
    height: 20px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    -webkit-transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    -moz-transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    -o-transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

/* items of menu -> hover, active */

.header_menu_li:hover .header_menu_a, .header_menu_li_active .header_menu_a {
    background-color: rgb(230, 230, 230);
    color: rgb(0, 0, 0);
}

/* border in menu between items */

.border_left {
    border-left: 2px solid rgb(90, 90, 90);
}

/* button, displays drop content */

.drop_btn {
    cursor: pointer;
}

.drop_btn_a {
    padding: 15px 26px 13px 26px;

}

/* items with only images */

.header_menu_img {
    display: block;
    height: 36px;
    width: auto;
    padding: 0;
    margin: 0;
    float: left;
}

.header_menu_a_img {
    padding: 4px 10px;
    height: 40px;
}


/* header drop content */

#header_drop_content {
    box-sizing: border-box;
    position: absolute;
    top: 48px;
    right: 0;
    height: auto;
    z-index: 999;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    -webkit-transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    -moz-transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    -o-transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.header_menu_drop_hide {
    display: none;
}

.header_menu_drop_show {
    display: block;
}


/* items in drop menu */

.header_drop_item {
    width: 170px;
    height: 48px;
    display: block;
    box-sizing: border-box;
    background-color: rgb(230, 230, 230);
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    -webkit-transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    -moz-transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    -o-transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.header_drop_item:hover {
    background-color: rgb(245, 245, 245);
    color: rgb(0, 0, 0);
}

.header_drop_item_border {
    border-left: 2px solid rgb(170, 170, 170);
    border-right: 2px solid rgb(170, 170, 170);
    border-top: 2px solid rgb(170, 170, 170);
}

.header_drop_item_border_last {
    border: 2px solid rgb(170, 170, 170);
}



/* images in drop menu */

.header_menu_img_drop {
    padding: 8px 12px 6px 12px;
    height: 32px;
    width: auto;
    display: inline-block;
    float: left;
}

/* texts in drop menu */

.header_drop_p {
    height: 22px;
    display: inline-block;
    float: left;
    text-align: left;
    line-height: 19px;
    font-size: 16px;
    font-weight: normal;
    padding: 12px 8px 12px 12px;
}


/* arrows in menu*/

.arrow {
    border: solid rgb(0, 0, 0);
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s, transform 0.3s;
    -webkit-transition: background-color 0.3s, color 0.3s, border-color 0.3s, transform 0.3s;
    -moz-transition: background-color 0.3s, color 0.3s, border-color 0.3s, transform 0.3s;
    -o-transition: background-color 0.3s, color 0.3s, border-color 0.3s, transform 0.3s;
}

.up_arrow {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

.down_arrow {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

/* search bar menu */

.menu_search_bar {

}

#menu_search_icon {
    box-sizing: border-box;
    display: block;
    height: 48px;
    width: auto;
    padding: 12px 8px 12px 8px;
    margin: 0px 5px 0px 16px;
    float: left;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    -webkit-transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    -moz-transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    -o-transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

#menu_search_icon:hover {
    background-color: rgb(210, 210, 210);
}

.menu_search_icon_active {
    background-color: rgb(210, 210, 210);
}

/* search field in menu */

#menu_search_field {
    width: 320px;
    margin: 5px 0 5px 0;
}

.hide_v {
    display: none;
    visibility: hidden;
}

.show_v {
    display: block;
    visibility: visible;
}


#menu_search_result {
    position: absolute;
    top: 48px;
    left: 245px;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: scroll;
    background-color: rgb(225, 225, 225);
    z-index: 999;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    -webkit-transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    -moz-transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    -o-transition: background-color 0.3s, color 0.3s, border-color 0.3s;
    width: 360px;
}