
#list_users {
    background-color: rgb(74, 77, 83);
}

#list_users_header {
    background-color: rgb(64, 67, 73);
}

#list_users_header_title{
    color: rgb(210, 210, 210);
}

#start_new_conversation {
    background-color: rgb(64, 67, 73);
}

#start_new_conversation:hover {
    background-color: rgb(94, 97, 103);
}

.user {
    color: rgb(210, 210, 210);
}

.list_users_item:hover {
    background-color: rgb(104, 107, 113);
    color: rgb(245, 245, 245);
}

/* styles for chat / messages */

#conversation_header {
    background-color: rgb(70, 70, 70);
}

#conversation {
    background-color: rgb(54, 57, 63);
}

#chat_control {
    background-color: rgb(75, 75, 75);
}


/* Chat containers */

#conversation_header p {
    color: rgb(220, 220, 220);
}

#conversation_header .time {
    color: rgb(180, 180, 180);
}

#conversation_close_button {
    background-color: rgb(70, 70, 70);
}

#conversation_close_button:hover {
    background-color: rgb(100, 100, 100);
}

.message {
    border-color: rgb(120, 120, 120);
    background-color: rgb(90, 90, 90);
}

.message_my {
    border-color: rgb(90, 90, 90);
    background-color: rgb(60, 60, 60);
}

.remove_message {
    background-color: rgb(54, 57, 63);
}

.remove_message:hover {
    background-color: rgb(84, 87, 93);
}

/* style of the test of the message */

.message p {
    color: rgb(220, 220, 220);
}

/* Style time text */

.message .time {
    float: right;
    color: rgb(180, 180, 180);
}

/* Style time text */

.message_my .time {
    float: left;
    color: rgb(180, 180, 180);
}

/* style for chat control */


#message_to_send {
    background-color: rgb(50, 50, 50);
    color: rgb(220, 220, 220);
    border: 2px solid rgb(110, 110, 110);
}

#message_to_send:focus {
    background-color: rgb(60, 60, 60);
    border: 2px solid rgb(250, 250, 250);
}

.chat_control_button {
    background-color: rgb(75, 75, 75);
}

.chat_control_button:hover {
    background-color: rgb(110, 110, 110);
}