
#conversations {
    background-color: rgb(54, 57, 63);
}

#list_users {
    background-color: rgb(74, 77, 83);
}

#list_users_header {
    background-color: rgb(64, 67, 73);
}

#list_users_header_title{
    color: rgb(210, 210, 210);
}

#start_new_conversation {
    background-color: rgb(64, 67, 73);
}

#start_new_conversation:hover {
    background-color: rgb(94, 97, 103);
}

.user {
    color: rgb(210, 210, 210);
}

.list_users_item:hover {
    background-color: rgb(104, 107, 113);
    color: rgb(245, 245, 245);
}


/* Chat containers */

.message {
    border: 0.2em solid rgb(120, 120, 120);
    background-color: rgb(90, 90, 90);
}

.message_my {
    border-color: rgb(90, 90, 90);
    background-color: rgb(60, 60, 60);
}

/* style of the test of the message */

.message p {
    color: rgb(220, 220, 220);
}

/* Style time text */

.message .time {
    float: right;
    color: rgb(180, 180, 180);
}

/* Style time text */

.message_my .time {
    float: left;
    color: rgb(180, 180, 180);
}