.informations {
	color: rgb(210, 210, 210);
}

.left_column {
	border-left: 0.0625em solid rgb(160, 160, 160);
	border-right: 0.0625em solid rgb(160, 160, 160);
}

.requests_image_en:hover {
	background-color: rgb(104, 107, 113);
}

.requests_image_dis:hover {
	background-color: rgb(54, 57, 63);
}