/* formatting of inputs */

.input_form {
    background-color: rgb(54, 57, 63);
    color: rgb(210, 210, 210);
    border-color: rgb(110, 110, 110);
}

.input_form:focus {
    border-color: rgb(250, 250, 250);
}

/* formatting of textarea */

.text_area_form {
    background-color: rgb(54, 57, 63);
    color: rgb(210, 210, 210);
    border-color: rgb(110, 110, 110);
}

.text_area_form:focus {
    border-color: rgb(250, 250, 250);
}

/* formatting of selects */

.select_form {
    background-color: rgb(54, 57, 63);
    color: rgb(210, 210, 210);
    border-color: rgb(110, 110, 110);
}

.select_form:focus {
    border-color: rgb(250, 250, 250);
}

/* formatting of buttons */

.button_form_submit {
    background-color: rgb(90, 90, 90);
    color: rgb(220, 220, 220);
}

.button_form_submit:hover, .button_form_submit:focus {
    background-color: rgb(180, 180, 180);
    color: rgb(30, 30, 30);
}

/* div with result from script */

.form_result_pos {
    border-color: rgb(0, 130, 0);
    background-color: rgb(90, 170, 90);
}

.form_result_neg {
    border-color: rgb(180, 0, 0);
    background-color: rgb(180, 90, 90);
}

.form_result_pos p {
    color: rgb(20, 20, 20);
}

.form_result_neg p {
    color: rgb(255, 255, 255);
}
