/* formatting of body */

body {
    background-color: rgb(54, 57, 63);
}

/* formatting of paragraphs */

p {
    color: rgb(160, 160, 160);
}

/* formatting of headings */

h1 {
    border-bottom: solid rgb(180, 180, 180) 0.03125em;
    color: rgb(160, 160, 160);
}

h2 {
    color: rgb(160, 160, 160);
}

h3 {
    color: rgb(160, 160, 160);
}