
/* Dark style for webpage */

/* formatting of header */

.pageHeader {
    background-color: rgb(30, 30, 30);
}

.pageName {
    color: rgb(210, 210, 210);
}

/* style settings for menu */

.header_menu_li {
    background-color: rgb(50, 50, 50);
}

.header_menu_li:hover, .header_menu_drop_btn_active {
    background-color: rgb(40, 40, 40);
}

.header_menu_a {
    background-color: rgb(50, 50, 50);
    color: rgb(0, 170, 0);
}

.header_menu_li:hover .header_menu_a, .header_menu_drop_btn_active .header_menu_a {
    color: rgb(0, 200, 0);
    background-color: rgb(40, 40, 40);
}

.header_menu_a:hover {
    background-color: rgb(40, 40, 40);
    color: rgb(0, 200, 0);
}

#header_drop_content {
    background-color: rgb(50, 50, 50);
}

#header_drop_content .header_menu_a {
    border-left: solid 0.1em rgb(0, 150, 0);
    border-right: solid 0.1em rgb(0, 150, 0);
    border-top: solid 0.1em rgb(0, 150, 0);
}

#header_drop_content .header_menu_a:last-child {
    border-bottom: solid 0.1em rgb(0, 150, 0);
}

#header_drop_content .header_menu_a{
    width: 6em;
}

.border_left {
    border-left: 0.2em rgb(0, 150, 0) solid;
}

/* formatting of body */

body {
    background-color: rgb(54, 57, 63);
}

/* formatting of paragraphs */

p {
    color: rgb(210, 210, 210);
}

/* formatting of headings */

h1 {
    border-bottom: solid rgb(180, 180, 180) 0.0625em;
    color: rgb(200, 200, 200);
}

h2 {
    color: rgb(200, 200, 200);
}

h3 {
    color: rgb(200, 200, 200);
}

/* formatting of common links */

a.common:link {
    color: rgb(100, 200, 100);
}

a.common:visited {
    color: rgb(100, 200, 100);
}

a.common:hover {
    color: rgb(100, 200, 100);
}

a.common:active {
    color: rgb(100, 200, 100);
}