/* formatting of body */

body {
    background-color: rgb(54, 57, 63);
}

/* formatting of paragraphs */

p {
    color: rgb(210, 210, 210);
}

/* formatting of headings */

h1 {
    border-bottom: solid rgb(180, 180, 180) 0.0625em;
    color: rgb(200, 200, 200);
}

h2 {
    color: rgb(200, 200, 200);
}

h3 {
    color: rgb(200, 200, 200);
}