/* font-family: Cambria, Georgia, serif; */

/* formatting of header */

.pageHeader {
    /*background-color: rgb(0, 170, 100);*/
    background-color: rgb(220, 20, 60);
    /*background-color: rgb(158, 27, 50);*/
    /*background-color: rgb(255, 0, 79);*/
    height: 4em;
    width: 100%;
}

.pageLogo {
    width: 3.125em;
    height: 3.125em;
    padding: 0.4375em;
    position: relative;
    float: left;
}

.pageName {
    font-family: 'Arial', Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.7em;
    position: relative;
    float: left;
    padding: 0.5em;
    margin: 0;
    color: rgb(0, 0, 0);
}


/* formatting of body */

body {
    background-color: rgb(250, 250, 250);
}

/* formatting of paragraphs */

p {
    font-family: 'Arial', Helvetica, sans-serif;
    font-size: 0.9375em; /* 15px */
    line-height: 1.25em; /* 20px */
    color: rgb(0, 0, 0);
}

.spacing {
    margin-top: 1.25em; /* 20px */
    margin-bottom: 1.25em; /* 20px */
    line-height: 1.5625em; /* 25px */
}

/* formatting of headings */

h1 {
    width: auto;
    text-align: center;
    font-family: 'Arial', Helvetica, sans-serif;
    font-weight: bold;
    font-size: 2.4em;
    border-bottom: solid rgb(0, 0, 0) 0.0625em;
    color: rgb(0, 0, 0);
    padding: 0.625em;
}

h2 {
    font-family: 'Arial', Helvetica, sans-serif;
    font-size: 1.5em;
    text-align: left;
    font-weight: bold;
    color: rgb(0, 0, 0);
    padding-top: 10px;
    padding-bottom: 10px;
}

h3 {
    font-family: 'Arial', Helvetica, sans-serif;
    font-size: 1.2em;
    text-align: left;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    color: rgb(0, 0, 0);
}

/* formatting of .main_content */

.main_content {
    margin-bottom: 0.9375em; /* 15px */
    margin-top: 0.9375em; /* 15px */
    padding-left: 0.625em; /* 10px */
    padding-right: 0.625em; /* 10px */
}