/* formatting of inputs */

.input_form {
    background-color: rgb(54, 57, 63);
    color: rgb(210, 210, 210);
    border-color: rgb(110, 110, 110);
}

.input_form:focus {
    border-color: rgb(250, 250, 250);
}

/* formatting of textarea */

.text_area_form {
    background-color: rgb(54, 57, 63);
    color: rgb(210, 210, 210);
    border-color: rgb(110, 110, 110);
}

.text_area_form:focus {
    border-color: rgb(250, 250, 250);
}

/* formatting of selects */

.select_form-dark {
    background-color: rgb(54, 57, 63);
    color: rgb(210, 210, 210);
    border-color: rgb(110, 110, 110);
}

.select_form-dark:focus {
    border-color: rgb(250, 250, 250);
}

/* formatting of buttons */

.button_form_submit {
    background-color: rgb(90, 90, 90);
    color: rgb(220, 220, 220);
}

.button_form_submit:hover, .button_form_submit:focus {
    background-color: rgb(180, 180, 180);
    color: rgb(30, 30, 30);
}

/* formatting of buttons for switching between registration and log in forms */

.logreg_button {
    background-color: rgb(90, 90, 90);
    color: rgb(220, 220, 220);
}

.logreg_button:hover, .logreg_button:focus, .logreg_active {
    background-color: rgb(180, 180, 180);
    color: rgb(30, 30, 30);
}