/* names of settings divisions */

h2 {
	text-align: center;
}


/* labels for an individual fields */

.info_tag_setting {
	float: left;
	width: 50%;
	clear: right;
	text-align: right;
	margin-top: 12px;
	font-size: 16px;
	font-family: 'Arial', Helvetica, sans-serif;
}

/* additional styles for inputs */

.input_form {
	width: 320px;
	margin: 4px 0 4px 16px;
	float: left;
	clear: right;
}

/* styles for selects */

.select_form {
	width: 160px;
	margin: 4px 20% 4px 16px;
	padding-left: 8px;
}

/* positions of a buttons */

.button_setting {
	margin: 6px 0 0 45%;
	min-width: 10%;
}

.button_setting:last-of-type {
	margin-bottom: 40px;
}

.form_result:last-of-type {
	margin-bottom: 60px;
}

/* style for a horizontal lines */

.double_margin {
	margin: 16px 0 16px 0;
}

/* style for a input for a file */

input[type=file] {
	width: 50%;
	max-width: 320px;
	margin: 8px 0 0 16px;
	outline: none;
	font-size: 16px;
	font-family: 'Arial', Helvetica, sans-serif;
	float: left;
	clear: right;
}

/* label for biography */

label[for=biography] {
	width: 100%;
	text-align: center;
}

#biography {
	margin: 16px 2% 16px 2%;
	width: 96%;
}


/* preview of uploaded file */

#preview {
	position: static;
	text-align: center;
	margin: 16px;
}

#preview img {
	height: 250px;
	width: auto;
}




/* styles for switch for a theme */


.switch {
	margin: 10px 14px 8px 14px;
}


/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 22px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}


/* The slider */
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgb(180, 180, 180);
	transition: 0.3s;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-o-transition: 0.3s;

}


.slider:before {
	position: absolute;
	content: "";
	height: 18px;
	width: 18px;
	left: 2px;
	bottom: 2px;
	background-color: white;
	transition: 0.3s;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-o-transition: 0.3s;

}

input:checked + .slider {
  background-color: rgb(30, 30, 30);
}


input:checked + .slider:before {
  -webkit-transform: translateX(28px);
  -ms-transform: translateX(28px);
  transform: translateX(28px);
}


/* Rounded sliders */
.slider.round {
  border-radius: 18px;
}


.slider.round:before {
  border-radius: 50%;
}



@media screen and (max-width: 800px) {

	.info_tag_setting {
		text-align: left;
		display: block;
		float: right;
		width: 100%;
		margin-right: 0;
	}

	.input_form {
		display: block;
		float: left;
		width: 100%;
		margin: 4px 0 4px 0;
	}

	.select_form {
		display: block;
		float: left;
		margin: 4px 0 4px 0;
	}

	input[type=file] {
		width: 100%;
		display: block;
		float: left;
		margin: 4px 0 4px 0;
	}


	ul {
		width: 100%;
	}

	li {
		width: 100%;
		margin: 0;
	}
}