
/* font color for a label */

label {
    color: rgb(210, 210, 210);
}

/* colors for a textarea biography */

#biography {
    background-color: rgb(54, 57, 63);
    color: rgb(210, 210, 210);
    border-color: rgb(110, 110, 110);
}

#biography:focus {
    background-color: rgb(60, 60, 60);
    border-color: rgb(250, 250, 250);
}


/* colors for selects */

.select_input {
	background-color: rgb(54, 57, 63);
    color: rgb(210, 210, 210);
    border-color: rgb(110, 110, 110);
}

.select_input:focus {
    border-color: rgb(250, 250, 250);
}


/* div with result from script */

.settings_result_pos {
    border-color: rgb(0, 130, 0);
    background-color: rgb(50, 170, 50);
}

.settings_result_neg {
    border-color: rgb(180, 0, 0);
    background-color: rgb(180, 70, 70);
}

.settings_result_pos p {
    color: rgb(20, 20, 20);
}

.settings_result_neg p {
    color: rgb(250, 250, 250);
}